<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.copypasteit.monaco">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GovernmentActivity.GovtActivity"></activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".LocationActivity.LocationActivity" />
        <activity android:name=".GalleryActivity.GalleryActivity"></activity>
        <activity android:name=".MainActivity.MainActivity" />
        <activity android:name=".ViewActivity.ViewActivity" />
        <activity android:name=".SplashActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity.HomeActivity" />
    </application>

</manifest>